.chats{
  max-width: 700px;
  overflow-y: scroll;
  padding: 8rem;
}

.userDiv{
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.gptDiv{
 
    text-align:left;
    font-size: 0.9rem;

}

.userMessage{
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15 rem;
  max-width: 505px;
  width: fit-content;

}

.gptMessage{

}