.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width:320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.logo{
    height:25px;
    width:25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}
button{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    border:solid 0.5px rgb(255,255,255,0.5);
    cursor:pointer
}
button span{
    font-size:20px;
    padding-left: 10rem;
}

button:hover{
    background-color: rgb(255,255,255,0.2);
}


.history{
 margin:10px;
 padding: 10px;;
 height: 100%;
}

.history ul{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size:14px ;
    border: solid 10px transparent;
    position: relative;

}

.history li:hover{
    background-color: rgb(180,180,180,0.5);
    border-radius:10px;

}
.sign{
    padding:10px;
    margin:10px;
    font-size: 14 px;
    text-align: center;
    border-top: solid 0.25px rgb(255,255,255,0.5);

}
.section{
    background-color: rgb(23, 22, 22);
}
.fa-trash-can{
 opacity: 0;
 position: absolute;
 right: 0;

}

.history li:hover.fa-trash-can{
    opacity: 1;
    color: #fff;
}

.fa-trash-can:hover{
    color: #d01a1a !important;
}

.highlighted{
    background-color: rgb(180,180,180,0.1);
    border-radius: 10px;
}